.navbarWrapContentList2{
    list-style-type: none;
    align-items: center;
}

.navbarWrapContentList2 li{
    font-size: 18px;
    margin-right: 25px;
    color: rgba(0, 107, 247, 0.8);
    font-weight: bold;
    align-items: center;
}


.navbarWrapContent2{
    position: fixed;
    bottom: -10px;
    left: -25px;
    z-index: 10;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    border-top: 3px solid black;
}

@media(max-width : 575px){
    .navbarWrapContent2 i{
        font-size: 200%;
    }
    
}

@media(max-width : 435px){
    .navbarWrapContent2 i{
        font-size: 160%;
    }
    
}