.navbarWrapContentList{
    list-style-type: none;
    width: 150%;
}

.navbarWrapContentList li{
    font-size: 18px;
    margin: 20px 0;
    color: rgba(0, 107, 247, 0.8);
    font-weight: bold;
    display: flex;
    align-items: center;
}


.navbarWrapContent{
    position: absolute;
}

.navbarWrapContent img{
    width: 120%;
    padding: 10px 10px;
}

.navbarWrapContent i{
    font-size: 180%;
}

