.navbar_wrap_content_list{
    list-style-type: none;
}

.navbar_wrap_content img{
    height: 70px;
    width: 280px;
    padding: 10px 10px;
}

.navbar_wrap_content_list{
font-size: 25px;
}

.navbar_wrap_content_list li{
    font-size: 25px;
    margin: 35px 0;
    color: rgba(0, 107, 247, 0.8);
    font-weight: bold;
}

.navbar_wrap_content i{
    font-size: 45px;
}