.dashboard_side_wrap{
    position: relative;
}

.dash_wrap_content {
    position: fixed;
    top: 120px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}


.dashSide_wrap_content{
    position: fixed;
    width: 50%;
    z-index: 3;
}

.side_wrap{
    position: relative;
    z-index: 999;
}


.dash_wrap{
    position: relative;
}