
.loginWrapTitle img{
    width: 160px;
    margin-bottom: 10px;
}

.login{
position: relative;
}

.loginWrap{
position: absolute;
left: 7%;
right: 7%;
text-align: center;
}
    
.loginWrapForm input{
    border-top: none;
    outline: none;
    margin-bottom: 30px;
    width: 100%;
}


.loginWrapForm i{
    font-size: 25px;
    position: absolute;
    right: 20px;
    line-height: 25px;

}

.rememberForgot{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}

.rememberForgot input{
    width: 30px;
}


.inputBox1 input{
    text-indent: 15px;
    font-size: 20px;
    height: 35px;
}