
.login__wrap-title img{
    width: 160px;
    margin-bottom: 10px;
}

.login{
position: relative;
}

.login__wrap{
position: absolute;
left: 7%;
right: 7%;
text-align: center;
}
    
.login__wrap-form input{
    border-top: none;
    outline: none;
    margin-bottom: 30px;
    width: 100%;
}


.login__wrap-form i{
    font-size: 25px;
    position: absolute;
    right: 30px;
    line-height: 25px;

}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}

.remember-forgot input{
    width: 30px;
}


.input-box1 input{
    text-indent: 7px;
    font-size: 18px;
    height:40px;
}